name: Scheduled Metrics
on:
  schedule:
  # * is a special character in YAML so you have to quote this string
  - cron:  '0 0 * * *'
  workflow_dispatch:
    inputs:
      # Production metrics require secret SEGMENT_WRITE_KEY
      # Test metrics require secret SEGMENT_TEST_WRITE_KEY
      production-data:
        description: "Upload metrics to production data {true,false}"
        required: true
        default: "false"

jobs:
  metrics:
    name: Collect and Send Metrics
    runs-on: ubuntu-20.04
    env:
      SEGMENT_WRITE_KEY: ${{ secrets.SEGMENT_WRITE_KEY }}
      SEGMENT_TEST_WRITE_KEY: ${{ secrets.SEGMENT_TEST_WRITE_KEY }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python 3.x Part 1
        uses: actions/setup-python@v2
        with:
          python-version: "3.9"

      - name: Set up Python 3.x Part 2
        run: |
            # set up python
            python3 -m venv ve1
            cd scripts && ../ve1/bin/pip3 install -r requirements.txt && cd ..
            cd scripts && ../ve1/bin/python3 setup.py install && cd ..

      - name: Release Metrics
        id: release_metrics
        run: |
          if [[ "${{github.event_name}}" == "workflow_dispatch" ]]; then
              if [[ "${{github.event.inputs.production-data}}" == "true" ]]; then
                  echo "Workflow dispatch using production write key"
                  WRITE_KEY=${SEGMENT_WRITE_KEY}
              else
                  echo "Workflow dispatch using test write key"
                  WRITE_KEY=${SEGMENT_TEST_WRITE_KEY}
              fi
          elif [[ "${{github.repository}}" == "openshift-helm-charts/development" ]]; then
              echo "Scheduled dispatch using production write key"
              WRITE_KEY=${SEGMENT_WRITE_KEY}
              if [ "${SEGMENT_WRITE_KEY}" != "" ]; then
                  WRITE_KEY=${SEGMENT_WRITE_KEY}
              else
                  echo "Error: Scheduled dispatch is missing write key"
                  exit 1
              fi
          else
              echo "Scheduled dispatch not on valid repo, do not set write key"
              WRITE_KEY=""
          fi

          if [ "${WRITE_KEY}" != "" ]; then
              ve1/bin/metrics --write-key=${WRITE_KEY} --metric-type=nightly
          else
              echo "Do not collect metrics, required segment write key is not set"
          fi

      - name: Send message to slack channel
        id: notify
        if: always() && github.event_name == 'schedule' && github.repository == 'openshift-helm-charts/development'
        uses: archive/github-actions-slack@v2.0.0
        with:
          slack-bot-user-oauth-access-token: ${{ secrets.SLACK_BOT_USER_OAUTH_ACCESS_TOKEN }}
          slack-channel: C02979BDUPL
          slack-text: ${{ steps.release_metrics.conclusion }}! Nightly collection of metrics. See '${{github.server_url}}/${{github.repository}}/actions/runs/${{github.run_id}}'

