name: Python Test

on:
  pull_request:
    paths:
    # Only the submission module currently provides unit tests
    - 'scripts/src/submission/*'

jobs:
  enforce:
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Set up Python
      id: setup-python
      uses: ./.github/actions/setup-python
    - name: Install CI scripts
      uses: ./.github/actions/install-ci-scripts
      with:
        python-version: ${{ steps.setup-python.outputs.python-version }}
    - name: Run pytest
      run: |
        ./ve1/bin/pytest scripts/src/submission/
