name: Python Test

on:
  pull_request:
    paths:
    # Only the precheck module currently provides unit tests
    - 'scripts/src/precheck/*'

jobs:
  enforce:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Set up Python 3.x Part 1
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
    - name: Set up Python 3.x Part 2
      run: |
        # set up python
        python3 -m venv ve1
        cd scripts
        ../ve1/bin/pip3 install -r requirements.txt
        ../ve1/bin/pip3 install .
        cd ..
    - name: Run pytest
      run: |
        ./ve1/bin/release-checker scripts/src/precheck/
